/* Reset + base */

* {
  box-sizing: border-box;
}


body {
  background-color: #131720;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
 
}

/* Headings */
h3 {
  color: beige;

}


/* Navbar */
.topnav {
  overflow: hidden;
  padding: 10px 20px;
  background-color: #131720;
}


.topnav a {
  display: block;
  color: rgb(234, 234, 234);
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;

  
}
.topnav .search-container {
  float: right;
}



/* Search bar */
form {
  background-color: hsl(0, 93%, 82%);
  width: 300px;
  height: 43px;
  border-radius: 11px;
  display: flex;
  align-items: center;
}


input {
  all: unset;
  width: 100%;
  font-size: 15px system-ui;
  color: black;
  height: 100%;
  width: 100%;
  padding: 6px 9px;
}
.thumbnail {
  width: 350px;
  height: 300px;
}
.column {
  float: left;
  width: 25%;
  padding: 10px 10px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5d1d1d;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}

